.account-page{
  width: 100%;
  min-height:100vh;
  overflow-x: hidden;
  height:100%;
}

html, body{
  height: 100%;
}

label{
  display:inline-block;
  margin-bottom:0.5rem;
}
/* .form-group{
  padding:1rem;
} */

.login-btn{
  color: dimgrey;
  background-color: dodgerblue;
}

.text-color-grey{
  color:rgb(90, 90, 90);
}
.footer-login{
  bottom: 0;
  left:0;
  right:0;
  padding: 19px 24px 20px;
  position: absolute;
  color: #98a6ad;
}